mat-toolbar {
    display: inline-flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: white;
}

button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
  vertical-align: top;
  font-size: 2rem;
  margin: auto;
}

.nav-icons-res {
    margin: auto;
    text-align: center;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    padding: 0 !important;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    min-width: 40px !important;
}

#resIconUser mat-icon {
    font-size: 1.8rem;
}

#resLoggedUser mat-icon {
    font-size: 1.8rem;
}

.resCart mat-icon {
    font-size: 1.8rem;
}

.logo {
    flex: 1;
    text-align: left;
}

.logoRes {
    flex: 1;
    text-align:center;
}

.logoRes h2 {
    padding-top: 2px;
    height: 36px;
}

.logoRes a {
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 26px;
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}


.logo a {
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 26px;
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}

.logo a:hover {
    text-decoration: none;
    opacity: 0.85;
}

.shortcuts {
    flex: 1;
    width: 100%;
    text-align: center;
}

.shortcuts button {
    display: inline-block;
    padding: 0 1em;
    border: 0;
    font-size: 17px;
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

.shortcuts button:hover {
    text-decoration: underline;
    text-decoration-color: #3a3a3a;
    opacity: .8;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-icons {
    flex: 1;
    text-align: right;
    margin: auto;
}


.material-icons {
    color:#3a3a3a;
    vertical-align: middle;
    margin-left: 1.5rem;
    font-size: 2rem;
}

.material-icons:hover {
    opacity: .5;
    cursor: pointer;
}

.input-group {
    margin-top: 1rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton {
    border: none;
    color: #3a3a3a;
    height: 38px;
    font-size: 2rem;
}

.searchButton:hover {
    opacity: .5;
}

.toHome:hover {
    cursor: pointer;
}

.toFeatured:hover {
    cursor: pointer;
}

.material-icons-res {
    color:#3a3a3a;
    vertical-align: middle;
}

.material-icons:hover {
    opacity: .5;
    cursor: pointer;
}