<!-- CONTAINER PRODUCTO -->
<div class="flex-container" fxLayout="row">
    <div *ngFor="let product of products">
        <div fxLayout.xs="column">
            <div class="flex-item photos" fxFlex=50>
                <!-- FOTO PRINCIPAL -->
                <div class="p-2">
                    <img class="card-img-top productPhoto" src="{{product.url_image}}">
                </div>
            </div>
            <div class="flex-item extraInfo" fxFlex=50>
                <!-- TITULO -->
                <div class="p-2"><h1>{{product.title}}</h1></div>
                <!-- PRECIO -->
                <div class="p-2"><h2>${{product.price}}</h2></div>
                <!-- CALIFICACION PROMEDIO -->
                <div class="p-2"><h2>Calificacion: {{product.average_score}}/5<mat-icon class="icon">star</mat-icon></h2></div>
                <!-- BOTON AGREGAR AL CARRITO -->
                <div *ngIf="product.stock != '0'" class="p-2">
                    <button type="submit" (click)="addToCart(product.product_id, product.stock)" block="true" class="btn btn-block btn-lg btn-dark">Agregar al carrito</button>
                </div>
                <!-- BOTON PRODUCTO NO DISPONIBLE -->
                <div *ngIf="product.stock == '0'" class="p-2">
                    <button block="true" class="btn btn-block btn-lg btn-dark" disabled>Producto no Disponible</button>
                </div>
                <!-- DESCRIPCION DEL PRODUCTO -->
                <div class="p-2">
                    <p>{{product.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex-container" fxLayout="row" fxLayout.xs="column">
    <div class="flex-item" fxFlex=40 fxFlexOffset=30>
        <h3>COMENTARIOS</h3>
        <div *ngFor="let comment of comments">
            <!-- CONTAINER COMENTARIO -->
            <mat-list class="comment" style="margin:1rem 0" role="list">
                <mat-list-item role="listitem" style="border-bottom: 1px solid #dddddd;">
                    <div fxFlex="90" fxLayout fxLayoutAlign="start center">
                        <span inline=true>{{comment.firstname}} {{comment.lastname}}</span>
                    </div>
                    <div fxLayout fxLayoutAlign="end center">
                        <span inline=true>{{comment.score}}/5 </span>
                        <mat-icon inline=true mat-list-icon>star</mat-icon>
                    </div>
                </mat-list-item>
                <mat-list-item style="margin-top: 1rem">
                    <p>{{comment.comment}}</p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
