<mat-list role="list">
    <mat-list-item (click)="onSidenavClose()" (click)="toHome()" role="listitem" >
        <div fxLayout fxLayoutAlign="center center">
            <mat-icon inline=true mat-list-icon>home</mat-icon>
            <a inline=true>Home</a>
        </div>
    </mat-list-item>

    <hr style="background-color:transparent;margin:0 1rem;border-bottom: 1px solid #dddddd;">

    <div *ngFor = "let category of categoriesResMenu">
        <mat-list-item (click)="getCategoryId(category.category_id)" (click)="onSidenavClose()" role="listitem">
            <button mat-menu-item>{{ category.name }}</button>
        </mat-list-item>
    </div>
</mat-list>